@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link-underline {
    border-bottom-width: 1px;
    border-bottom-color: #4e4e50;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.8s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
  }

  .link-underline:hover {
    background-size: 100% 1px;
    background-position: 0 100%;
    border-bottom-width: 1px;
  }
  .background {
    background: #161415
      url("https://firebasestorage.googleapis.com/v0/b/ritu-portfolio.appspot.com/o/contact.jpg?alt=media&token=c6cf2e14-51e7-4492-93c9-6493bca2ca35")
      no-repeat top center;
    background-size: cover !important;
  }
  .backgroundHome {
    background: #161415
      url("https://firebasestorage.googleapis.com/v0/b/ritu-portfolio.appspot.com/o/home.jpeg?alt=media&token=e6c4fe9b-c2df-4be0-a886-bdbde51e708e")
      no-repeat top center;
    background-size: cover !important;
  }
  .backgroundAbout {
    background: #161415
      url("https://firebasestorage.googleapis.com/v0/b/ritu-portfolio.appspot.com/o/about.jpg?alt=media&token=68041767-f8d2-428f-a201-ce8e0a2a15ab")
      no-repeat top center;
    background-size: cover !important;
  }
  .backgroundAchievements {
    background: #161415
      url("https://firebasestorage.googleapis.com/v0/b/ritu-portfolio.appspot.com/o/achievements.jpg?alt=media&token=5e7e755f-7cc6-4f79-847e-a6864cd89128")
      no-repeat top center;
    background-size: cover !important;
  }
}
